<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <admin>
                <children>
                    <Icecube_Manager>
                        <title>Manager</title>
                        <sortOrder>1000</sortOrder>
                    </Icecube_Manager>
                </children>
            </admin>
        </resources>
        <rules>
            <admin>
                <children>
                    <Icecube_Manager>
                        <title>Manager</title>
                        <sortOrder>1000</sortOrder>
                        <resource>Magento_Backend::admin</resource>
                    </Icecube_Manager>
                </children>
            </admin>
        </rules>
        <resources>
            <Icecube_Manager>
                <children>
                    <Icecube_Manager::department>
                        <title>Department</title>
                        <sortOrder>10</sortOrder>
                        <resource>Icecube_Manager::manager</resource>
                    </Icecube_Manager::department>
                    <Icecube_Manager::positions>
                        <title>Positions</title>
                        <sortOrder>20</sortOrder>
                        <resource>Icecube_Manager::manager</resource>
                    </Icecube_Manager::positions>
                    <Icecube_Manager::forms>
                        <title>Forms</title>
                        <sortOrder>30</sortOrder>
                        <resource>Icecube_Manager::manager</resource>
                    </Icecube_Manager::forms>
                </children>
            </Icecube_Manager>
        </resources>
    </acl>
</config>
