.admin__menu .level-0.item-icecubeorder > a:before {
    background: url('../images/re-order.png');
    height: 62px;
    content: "";
    margin: 0 auto;
    width: 46px;
    max-width: 100%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}