<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework/ObjectManager/etc/config.xsd">
    <virtualType name="Icecube\Monitoring\Model\ResourceModel\Product\Grid\Collection" type="Magento\Catalog\Model\ResourceModel\Product\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">catalog_product_entity</argument>
        </arguments>
    </virtualType>
</config>
