<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="multiorder" translate="label" sortOrder="201">
            <label>OrderCreate</label>
        </tab>
        <section id="multiorder_section" translate="label" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>OrderCreate</label>
          <tab>multiorder</tab>
          <resource>Order_Programmtic::configuration</resource>
            <group id="general" translate="label" type="label" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>General</label>
            <field id="enable" translate="label" type="select" canRestore="1" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Enable Module</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            </group>            
        </section>
    </system>
</config>
